[submodule "lib/KiCad-Schematic-Symbol-Libraries"]
	path = lib/KiCad-Schematic-Symbol-Libraries
	url = https://github.com/xesscorp/KiCad-Schematic-Symbol-Libraries.git
[submodule "lib/engstad"]
	path = lib/engstad
	url = file:///home/engstad/Electronics/proj/lib/engstad
